       <div class="divide80"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                <div class="about-author">
                <h3><%=@user.name%></h3>
                        <img src="img/team-3.jpg" class="img-responsive" alt="">
                        <p>
                            <div>Email: <%=@user.email%></div>
                            <div>Phone: <%=@user.phone%></div>
                        </p>
                    </div><!--about author-->
                    <div class="divide60"></div>
                </div><!--col-->
            </div><!--row for blog post-->
        </div>
        <h4 class="margin30">Promoters</h4>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                            </tr>
                        </thead>
                        <% @user.promoters.each do |promoter| %>
                        <tbody>
                            <tr>
                                <td><div><a href="/promoters/<%=promoter.id%>"><%=promoter.name%></a></div></td>
                                <td><%=promoter.email%></td>
                                <td><%=promoter.phone%></td>
                                <%end%>
                            </tr>     
                      </tbody>
                    </table>
                    <h4 class="margin30">Guestlists</h4>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Club</th>
                                <th>Promoter</th>
                                <th>Guests</th>
                                <th>Promotion</th>
                            </tr>
                        </thead>
                         <%@user.guestlists.each do |guestlist|%>
                        <tbody>
                            <tr>
                                <td><%=guestlist.reservation_date%></td>
                                <td><%=guestlist.club.name%></td>
                                <td><%=guestlist.promoter.name%></td>
                                <td><%=guestlist.guests%></td>
                                <td><%=guestlist.promotion.name%></td>
                                <%end%>
                            </tr>     
                      </tbody>
                    </table>



