<a href="/">Home</a>
<h1>Promoters</h1>
<%@promoters.order("name").each do |promoter|%>
<h3><a href="/promoters/<%=promoter.id%>"><%=promoter.name%></a></h3>
<p>Email: <%=promoter.email%></p>
<p>Phone: <%=promoter.phone%></p>
<p>Clubs: <%promoter.clubs.each do |club|%>
<p><%=club.name%></p></p>
<%end%>
  <%end%>