 <div class="divide80"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                <div class="about-author">
                <h3><%=@promoter.name%></h3> 
                <h6>Followers: <%=@promoter.promoter_followers.count%></h6>
                <% if current_promoter %>

<% elsif !current_user %>

<% else %>
<% if current_user && promoter_followers.first == nil %>
<div>
<%= form_tag '/promoters/follow', method: :post do  %> 
<%= hidden_field_tag :promoter_id, params[:id] %>
                                    <div>
                                        <button style='float: right;' type="submit" class="btn btn-theme-dark">Follow</button>
                                    </div>
                                <% end %>
</div>
<% else %>

<%= form_tag "/promoters/unfollow/#{@promoter.id}", method: :delete do  %> 
                                    <div>
                                        <button style='float: right;' type="submit" class="btn btn-theme-dark">Unfollow</button>
                                    </div>
                                <% end %>
  <% end %>
<% end %>
                <% if current_user %>
                <a href="/messages/<%=@promoter.id%>"><button  style='float: right; margin-right:20px;' class="btn btn-theme-dark">Message</button></a>
                <%else%>
                <%end%>
                       <% if @promoter.images.first === nil  %>
                <img src="/img/defaultprofilepic.jpg" >
                <% else %>
                        <img src="<%=@promoter.images.first.url%>"  class="img-responsive" alt="">
                        <% end %>
                        <p>
                            <div>Email: <%=@promoter.email%></div>
                            <div>Phone: <%=@promoter.phone%></div>
                        </p>
                    </div><!--about author-->
                    <div class="divide60"></div>
                </div><!--col-->
            </div><!--row for blog post-->
        </div>
        <h4 class="margin30">Clubs</h4>
        <% @promoter.clubs.each do |club| %>
        <p><a href="/clubs/<%=club.id%>"><%= club.name %></a></p>
        <%end%>
        <h4 class="margin30">Followers</h4>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                            </tr>
                        </thead>
                        <% @promoter.users.each do |follower| %>
                        <tbody>
                            <tr>
                                <td><div><a href="/users/<%=follower.id%>"><%=follower.name%></a></div></td>
                                <td><%=follower.email%></td>
                                <td><%=follower.phone%></td>
                                <%end%>
                            </tr>     
                      </tbody>
                    </table>
                    <% if !current_user && current_promoter.id === @promoter.id %>
                    <h4 class="margin30">Guestlists</h4>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Club</th>
                                <th>User</th>
                                <th>Guests</th>
                                <th>Promotion</th>
                            </tr>
                        </thead>
                         <%@promoter.guestlists.order("reservation_date").each do |guestlist|%>
                        <tbody>
                            <tr>
                                <td><%=guestlist.reservation_date%></td>
                                <td><%=guestlist.club.name%></td>
                                <td><%=guestlist.user.name%></td>
                                <td><%=guestlist.guests%></td>
                                <td><%=guestlist.promotion.name%></td>
                                <%end%>
                            </tr>     
                      </tbody>
                    </table>
                    <%else%>
                    <%end%>
                        <h3><%=@promoter.comments.count%> Comments</h3>
                        <% @comment.each do |comment|%>
                     <div class="comment-post">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="comment-list">
                                    <h4>< <% if comment.user.images.first === nil  %>
                <img src="/img/defaultprofilepic.jpg">
                <% else %>
                        <img src="<%=comment.user.images.first.url%>"  class="img-responsive" alt="">
                        <% end %>
                                      by <%=comment.user.name%> (<%=comment.created_at.strftime("%e %b %Y %H:%M:%S%p")%>)
                                    </h4>
                                    
                                        <%=comment.body%>
                                    
                                </div><!--comments list-->
                            </div>
                            </div>
                        </div>
                                <%end%>
                    
                            <% if current_user %>
                    <div class="comment-form">
                        <h3>Leave Comment</h3>
                         <%= form_tag '/promoters/comments', method: :post do  %>
                        <div class="form-contact">
                            <form role="form">
                                <div class="form-group">
                                    <label for="message">Comment</label>
                                    <%= text_area_tag :body, "", required:true, class:"form-control" %>
                                </div>                      
                                <div class="form-group">
                                    <%= hidden_field_tag :promoter_id, params[:id] %>
                                </div>
                                <div class="form-group">
                                    <%= hidden_field_tag :user_id, current_user.id %>
                                </div>
                                <button style= 'margin-right: 25px; margin-bottom: 10px' type="submit" class="btn btn-theme-bg btn-lg pull-right">Comment</button>
                            </form>
                        </div>
                    </div>
                            <%end%>
                    <%else%>
                    <%end%>